name: Template - Build and Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'integrations/Template/infra/**'
      - 'integrations/Template/src/**'

  pull_request:
    branches: [ main ]
    paths:
      - 'integrations/Template/infra/**'
      - 'integrations/Template/src/**'

  workflow_dispatch:

jobs:
  build-and-deploy:
    name: Build and Deploy Integration
    uses: ./.github/workflows/_reusable.deploy-integration.yml
    with:
      infra-directory: ./integrations/Template/infra
      integration-directory: ./integrations/Template
    secrets:
      azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
      azure-resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
