name: IntegrationTemplate - Build and Deploy

on:
  push:
    branches: [ main ]
    paths:
      - 'integrations/IntegrationTemplate/infra/**'
      - 'integrations/IntegrationTemplate/src/**'
      - 'Directory.*.props'
      - 'global.json'

  workflow_dispatch:

concurrency:
  group: integration-platform-deploy
  cancel-in-progress: false

jobs:
  build-and-deploy:
    name: R05 Build and Deploy Integration
    uses: ./.github/workflows/_R05.deploy-integration.yml
    with:
      infra-directory: ./integrations/IntegrationTemplate/infra
      integration-directory: ./integrations/IntegrationTemplate
    secrets:
      azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
      azure-resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
