name: Shared - Deploy Infrastructure

on:
  workflow_dispatch:

jobs:
  build-infrastructure:
    name: R01 Build Bicep Infrastructure
    uses: ./.github/workflows/_R01.build-infra.yml
    with:
      infra-directory: ./shared-infra

  deploy-infrastructure:
    name: R02 Deploy Infrastructure
    needs: [build-infrastructure]
    uses: ./.github/workflows/_R02.deploy-infra.yml
    secrets:
      azure-credentials: ${{ secrets.AZURE_CREDENTIALS }}
      azure-resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
